<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="advertisement">
    <div class="AdvertisementText">
    <h2>DMC Delorean</h2>
    <p>3 cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy Dice</p>
    <button class="orderButton">Own Today</button>
    </div>
    <img src="images/vehicles/delorean.jpg" alt="DMC Delorean">
    </div>
<div class="mainDiv">
    <div class="deloreanDiv">
<h2>
    Delorean Upgrades
</h2>
<div class="upgrades">
    <div class="upgrade">
        <img src="images/upgrades/flux-cap.png" alt="">
        <p>Flux Capacitor</p>
        </div>
        <div class="upgrade">
            <img src="images/upgrades/flame.jpg" alt="">
            <p>Flame Decal</p>
            </div>
<div class="upgrade">
<img src="images/upgrades/bumper_sticker.jpg" alt="">
<p>Bumper Sticker</p>
</div>
<div class="upgrade">
    <img src="images/upgrades/hub-cap.jpg" alt="">
    <p>Hub Caps</p>
    </div>
</div>

</div>
<div class="deloreanDiv">
<h2>
    DMC Delorean Reviews
</h2>
<ul>
    <li class="reviews">"So fast it's almost like traveling in time" (4/5)</li>
    <li class="reviews">"Coolest ride on the road." (4/5)</li>
    <li class="reviews">"I'm feeling McFly!" (5/5)</li>
    <li class="reviews">"The most futuristic ride of our day." (4.5/5)</li>
    <li class="reviews">"80's livin and I love it!" (5/5)</li>
</ul>
</div>
</div>